<div class="main">
    <div class="body">
        <h1 class="h2" style="text-align: center;">Our Departments</h1>
        
        <div class="dep-container">
            <mat-card class="dep-card">
                <img src="https://img.icons8.com/external-vitaliy-gorbachev-fill-vitaly-gorbachev/60/000000/external-heart-anatomy-vitaliy-gorbachev-fill-vitaly-gorbachev.png"/>
                <h2>Cardiology</h2>
                <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Mauris temp us vestib ulum mauris.</p>
            </mat-card>
            <mat-card class="dep-card">
                <img src="https://img.icons8.com/external-vitaliy-gorbachev-fill-vitaly-gorbachev/60/000000/external-heart-anatomy-vitaliy-gorbachev-fill-vitaly-gorbachev.png"/>
                <h2>Cardiology</h2>
                <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Mauris temp us vestib ulum mauris.</p>
            </mat-card>
            <mat-card class="dep-card">
                <img src="https://img.icons8.com/external-vitaliy-gorbachev-fill-vitaly-gorbachev/60/000000/external-heart-anatomy-vitaliy-gorbachev-fill-vitaly-gorbachev.png"/>
                <h2>Cardiology</h2>
                <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Mauris temp us vestib ulum mauris.</p>
            </mat-card>

            <mat-card class="dep-card">
                <img src="https://img.icons8.com/external-vitaliy-gorbachev-fill-vitaly-gorbachev/60/000000/external-heart-anatomy-vitaliy-gorbachev-fill-vitaly-gorbachev.png"/>
                <h2>Cardiology</h2>
                <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Mauris temp us vestib ulum mauris.</p>
            </mat-card>
            <mat-card class="dep-card">
                <img src="https://img.icons8.com/external-vitaliy-gorbachev-fill-vitaly-gorbachev/60/000000/external-heart-anatomy-vitaliy-gorbachev-fill-vitaly-gorbachev.png"/>
                <h2>Cardiology</h2>
                <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Mauris temp us vestib ulum mauris.</p>
            </mat-card>
            <mat-card class="dep-card">
                <img src="https://img.icons8.com/external-vitaliy-gorbachev-fill-vitaly-gorbachev/60/000000/external-heart-anatomy-vitaliy-gorbachev-fill-vitaly-gorbachev.png"/>
                <h2>Cardiology</h2>
                <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Mauris temp us vestib ulum mauris.</p>
            </mat-card>
            <mat-card class="dep-card">
                <img src="https://img.icons8.com/external-vitaliy-gorbachev-fill-vitaly-gorbachev/60/000000/external-heart-anatomy-vitaliy-gorbachev-fill-vitaly-gorbachev.png"/>
                <h2>Cardiology</h2>
                <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Mauris temp us vestib ulum mauris.</p>
            </mat-card>
            <mat-card class="dep-card">
                <img src="https://img.icons8.com/external-vitaliy-gorbachev-fill-vitaly-gorbachev/60/000000/external-heart-anatomy-vitaliy-gorbachev-fill-vitaly-gorbachev.png"/>
                <h2>Cardiology</h2>
                <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Mauris temp us vestib ulum mauris.</p>
            </mat-card>
            <mat-card class="dep-card">
                <img src="https://img.icons8.com/external-vitaliy-gorbachev-fill-vitaly-gorbachev/60/000000/external-heart-anatomy-vitaliy-gorbachev-fill-vitaly-gorbachev.png"/>
                <h2>Cardiology</h2>
                <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Mauris temp us vestib ulum mauris.</p>
            </mat-card>
        </div>
    </div>
</div>
