@import url(../../Client-pages/home/home.component.scss);
.body{
    padding-top: 50px;
}

button{
    background-color: #197CF0;
    color: white;
    font-family: 'Poppins';
    font-size: 18px;
    padding: 10px;
    margin-top: 50px;
}