@import url(../home/home.component.scss);

.body{
    padding-top: 80px;
    overflow-x: auto;
}
table{
    margin-top: 50px;
    width: 100%;
    border: solid 1px;
    border-collapse: collapse;
    
}

td,th{
    border: solid 1px;
    text-align: center;
    padding: 25px;
    font-family: 'Poppins';
    font-size: 18px;
}

