<div class="main">

    <div class="body">

        <div class="news">
            <section class="top">
                <section class="image">
                    <img src="assets/images/newss.png" alt="news" width="100%" style="border-radius: 20px;">
                </section>
                <section class="text">
                    <h1 class="h2">Covid cases rising and falling</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris quis aliquam. Integer accumsan sodales odio, id tempus velit ullamc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris quis aliquam. Integer accumsan sodales odio, id tempus velit ullamc. Lorem ipsum 
                    </p>
                </section>
            </section>

            <section class="middle">
                <p>
                    dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris quis aliquam. Integer accumsan sodales odio, id tempus velit ullamc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris quis aliquam. Integer accumsan sodales odio, id tempus velit ullamc.
                </p>
            </section>

            <section class="top">
                <section class="text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris quis aliquam. Integer accumsan sodales odio, id tempus velit ullamc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris quis aliquam. Integer accumsan sodales odio, id tempus velit ullamc. Lorem ipsum 
                    </p>
                </section>

                <section class="image">
                    <img src="assets/images/newss.png" alt="image" width="100%" style="border-radius: 20px;">
                </section>
            </section>
        </div>

        <div>
            <section class="socials">
                <section style="margin: 0px;">
                    <h2>Like this news: <span style="font-size: 50px;"><i class="bi bi-hand-thumbs-up"></i></span></h2>
                </section>
                <section>
                    <h2>Share on: <span style="font-size: 50px;"><i class="bi bi-facebook"></i>
                        <i class="bi bi-twitter"></i>
                        <i class="bi bi-instagram"></i>
                    </span></h2>

                </section>
            </section>


            <section class="comment">
                <h2>Comment:</h2>
                <section class="input">
                    <input type="text" placeholder="Your name">
                    <input type="text" class="right-input" placeholder="Your Email">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Comment"></textarea>
                    <section style="display: flex;">
                        <button mat-raised-button style="color: white; background-color: #197CF0; margin-top: 30px; height: 50px; font-family: 'Poppins';">
                            Comment
                        </button>
                    </section>
                </section>
            </section>

            <section class="other">
                <h1 class="h2">Other news:</h1>
                
                <div class="news-box">

                    <mat-card class="more-news">
                        <img mat-card-image src="assets/images/news.png" alt="image">
                        <mat-card-content>
                            <h2>Covid Cased rising and falling</h2>
                            <p>Read more</p>
                        </mat-card-content>
                    </mat-card>

                    <mat-card class="more-news">
                        <img mat-card-image src="assets/images/news.png" alt="image">
                        <mat-card-content>
                            <h2>Covid Cased rising and falling</h2>
                            <p>Read more</p>
                        </mat-card-content>
                    </mat-card>

                    <mat-card class="more-news">
                        <img mat-card-image src="assets/images/news.png" alt="image">
                        <mat-card-content>
                            <h2>Covid Cased rising and falling</h2>
                            <p>Read more</p>
                        </mat-card-content>
                    </mat-card>

                    <mat-card class="more-news">
                        <img mat-card-image src="assets/images/news.png" alt="image">
                        <mat-card-content>
                            <h2>Covid Cased rising and falling</h2>
                            <p>Read more</p>
                        </mat-card-content>
                    </mat-card>

                    <mat-card class="more-news">
                        <img mat-card-image src="assets/images/news.png" alt="image">
                        <mat-card-content>
                            <h2>Covid Cased rising and falling</h2>
                            <p>Read more</p>
                        </mat-card-content>
                    </mat-card>

                    <mat-card class="more-news">
                        <img mat-card-image src="assets/images/news.png" alt="image">
                        <mat-card-content>
                            <h2>Covid Cased rising and falling</h2>
                            <p>Read more</p>
                        </mat-card-content>
                    </mat-card>

                    
                </div>
                
            </section>
        </div>

    </div>

</div>
