<div class="main">
    <div class="content">
        <div class="list">
            <section class="address">
                <img src="assets/images/logo.png" alt="logo">
                <p> <i class="bi bi-house-door-fill"></i>Gyaneshwor, Kathmandu</p>
                <p><i class="bi bi-telephone-fill"></i>+977-9876548976</p>
                <p><i class="bi bi-envelope-fill"></i>asd@gmail.com</p>
                <section class="icons">
                    <i class="bi bi-facebook"></i>
                    <i class="bi bi-twitter"></i>
                    <i class="bi bi-linkedin"></i>
                    <i class="bi bi-youtube"></i>
                </section>
            </section>
            <section class="actual-list">
                <ul>
                    <h1 class="h2">Useful Links</h1>
                    <li> <a routerLink="/home" routerLinkActive="active">Home</a> </li>
                    <li> <a >About Us</a></li>
                    <li> <a >Sevices</a> </li>
                    <li> <a >Appointment</a></li>
                    <li> <a >News & Events</a></li>
                    <li> <a >Career</a> </li>
                    <li> <a >Contact</a></li>
                </ul>
            </section>
        </div>
        <div class="form">
            <h1 class="h2">Feedback</h1>
            <form action="">
                <section class="top-field">
                    <input type="text" class="form-field top"  placeholder="Full Name">
                    <input type="text" class="form-field top" placeholder="Phone Number">
                </section>
                <input type="text" style="width: 98%;" class="form-field" placeholder="Email">
                <textarea style="height: 100px; width: 98%;" class="form-field" placeholder="Message"></textarea>
                <button mat-button class="text" style="background-color: #197CF0; color: white;"> Submit </button>
            </form>
            
        </div>
    </div>
    <div style="background-color: #B4CBE8; margin-top: 20px;">
        <p style="text-align: center;padding:20px; font-weight: 600;"> Copyright ©2021 All rights reserved | This design is made by Code Asterisk Pvt. Ltd</p>
    </div>
</div>
