<div class="main">
    <div class="body">

        <div class="container">
            <div class="form-box">
                <p style="text-align: center;"><a routerLink="/login">Patients Login</a><span style="margin-left: 50px;"><a routerLink="/staff-login">Staff Login</a></span></p>
                <mat-card class="form-card">
                    <h1 class="h2" style="text-align: center;">Patient Login</h1>
                    <h2>Patients number</h2>
                    <input type="text" class="input-field">
                    <h2>Password</h2>
                    <input type="text" class="input-field">

                    <button mat-raised-button>
                        Login
                    </button>
                    <p style="text-align: center;margin-top: 20px;">Don’t have an account?? <span><a style="color: #197CF0;" routerLink="/register">Register</a></span></p>
                </mat-card>
            </div>
            <div class="image-box">
                <img src="assets/images/patLogin.png" alt="">
            </div>
        </div>
    </div>
</div>