@import url(../../Client-pages/home/home.component.scss);

.body{
    padding-top: 50px;
}
.table{
  margin-top:30px;
  overflow-x: auto;
}
table{
    width: 100%;
    font-family: 'Poppins';
    font-size: 18px;
}

  .mat-column-date{
    font-size: 18px;
    height: 80px;
  }
  .mat-column-age{
    font-size: 18px;
    height: 80px;
  }
  .mat-column-treatment{
    font-size: 18px;
    height: 80px;
  }

.mat-column-name{
    font-size: 18px;
    height: 80px;
  }
  .mat-column-address{
    font-size: 18px;
    height: 80px;
  }

  .buttons{
    z-index: 1000;
    margin-top: -1000px;
    position: fixed;
    
    margin-left: 20px;
    

    button{
      background-color: #197CF0;
      color: white;
      font-size: 18px;
    }

  }