<div class="main">


    <div class="body">


        <div class="cards">


            <div class="left-card">
                <mat-card class="profile-card">
                    <img src="assets/images/doctor.png" width="50%" style="border-radius: 100px;">

                    <section style="margin-top: 30px;display: flex; flex-direction: column;">
                        <h2 style="text-align: center;">
                            Reshika Shrestha
                        </h2>
                        <h2 style="text-align: center;">
                            Patient ID: 12345
                        </h2>
                        
                    </section>
                </mat-card>
            </div>



            <div class="right-card">
                <section class="logos">
                    <mat-card class="logo">
                        <h2 style="text-align: center; width: 100%; font-size: 32px;"> Personal Details</h2>
                        <section class="patient-details">
                            <section class="row">
                                <section class="left field">
                                    <h2>Name</h2>
                                    <input type="text" placeholder="Reshika Shrestha">
                                </section>
                                <section class="right field">
                                    <h2>Email</h2>
                                    <input type="text" placeholder="Reshika@gmail.com">
                                </section>
                            </section>
                
                            <section class="row">
                                <section class="left field">
                                    <h2>Address</h2>
                                    <input type="text" placeholder="Lalitpur">
                                </section>
                                <section class="right field">
                                    <h2>Phone Number</h2>
                                    <input type="text" placeholder="123456789">
                                </section>
                            </section>
                            <section class="row">
                                <section class="left field">
                                    <h2>Date of Birth</h2>
                                    <input type="text" placeholder="1995-01-03">
                                </section>
                                <section class="right field">
                                    <h2>Gender</h2>
                                    <mat-checkbox>Male</mat-checkbox>
                                    <mat-checkbox>Female</mat-checkbox>
                                    <mat-checkbox style="margin-right: 0px;">Others</mat-checkbox>
                
                                </section>
                            </section>
                
                            <section class="row">
                                <section class="left field">
                                    <h2>Profile</h2>
                                    <input type="text" placeholder="profile.jpg">
                                </section>
                                <section class="right field">
                                    <h2>Treatment for</h2>
                                    <input type="text" placeholder="Cardiology">
                                </section>
                            </section>
                
                            <section class="row">
                                <section style="width: 100%;">
                                    <h2>Brief</h2>
                                    <textarea name="" id="" cols="30" rows="10" placeholder="lorem ipsum"></textarea>
                                </section>
                            </section>
                
                            <section>
                                <button mat-raised-button style="background-color: #197CF0; color: white;"> Edit </button>
                                <button mat-raised-button class="right-button"> Delete </button>
                            </section>
                        </section>
                        
                    </mat-card>
                </section>
            </div>


        </div>

        <div class="bill">
            <mat-card>
                <h2>Payment</h2>
                <table>
                    <tr>
                        <th>Bill no.</th>
                        <th>Bill Date</th>
                        <th>Patient</th>
                        <th>Doctor</th>
                        <th>Charge</th>
                        <th>Tax</th>
                        <th>Discount</th>
                        <th>Total</th>
                    </tr>
                    <tr>
                        <td>1.</td>
                        <td>2022-22-22</td>
                        <td>Reshika Shrestha</td>
                        <td>Anjila</td>
                        <td>Rs. 1350</td>
                        <td>50%</td>
                        <td>80%</td>
                        <td>Rs. 2500</td>
                    </tr>
                </table>
                <h2 style="text-align: right;margin-top: 30px; color: red;">Unpaid</h2>
            </mat-card>
        </div>



    </div>



</div>
