<div class="main">
    <div class="body">

        <div class="container">
            <div class="form-box">
                <mat-card class="form-card">
                    <h1 class="h2" style="text-align: center;">Register</h1>
                    <h2>Fullname</h2>
                    <input type="text" class="input-field">
                    <h2>Address</h2>
                    <input type="text" class="input-field">
                    <h2>Patient  number</h2>
                    <input type="text" class="input-field">
                    <h2>Password</h2>
                    <input type="text" class="input-field">
                    <h2>Confirm Password</h2>
                    <input type="text" class="input-field">

                    <button mat-raised-button>
                        Login
                    </button>
                    <p style="text-align: center;margin-top: 20px;">Already have an account?? <span><a style="color: #197CF0;" routerLink="/login">Login</a></span></p>
                </mat-card>
            </div>
            <div class="image-box">
                <img src="assets/images/reg.png" alt="">
                
            </div>
        </div>
    </div>
</div>