<div class="main">
    <div class="body">
    
        <h1 class="h2" style="text-align: center;">Add Patients</h1>
    
        <section style="margin-top: 50px;">
            <mat-card>
                <section class="row">
                    <section class="left field">
                        <h2>Name</h2>
                        <input type="text">
                    </section>
                    <section class="right field">
                        <h2>Email</h2>
                        <input type="text">
                    </section>
                </section>
    
                <section class="row">
                    <section class="left field">
                        <h2>Address</h2>
                        <input type="text">
                    </section>
                    <section class="right field">
                        <h2>Phone Number</h2>
                        <input type="text">
                    </section>
                </section>
                <section class="row">
                    <section class="left field">
                        <h2>Date of Birth</h2>
                        <input type="text">
                    </section>
                    <section class="right field">
                        <h2>Gender</h2>
                        <mat-checkbox>Male</mat-checkbox>
                        <mat-checkbox>Female</mat-checkbox>
                        <mat-checkbox style="margin-right: 0px;">Others</mat-checkbox>
    
                    </section>
                </section>
    
                <section class="row">
                    <section class="left field">
                        <h2>Profile</h2>
                        <input type="file">
                    </section>
                    <section class="right field">
                        <h2>Treatment For</h2>
                        <input type="text">
                    </section>
                </section>
    
                <section class="row">
                    <section style="width: 100%;">
                        <h2>Brief</h2>
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                    </section>
                </section>
    
                <section>
                    <button mat-raised-button style="background-color: #197CF0; color: white;"> Save</button>
                    <button mat-raised-button class="right-button"> Cancel </button>
                </section>
                
    
    
            </mat-card>
        </section>
    
    </div>
    
    </div>
    