@import url(../../Client-pages/home/home.component.scss);

.body{
    padding-top: 50px;
}

.patients{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
}

.patient{
    width: 330px;
    background-color: white;
    margin-top: 10px;
}

.patient-card{
    overflow: hidden;
}

.buttons{
    z-index: 1000;
    margin-top: -1000px;
    position: fixed;
    
    margin-left: 20px;
    

    button{
      background-color: #197CF0;
      color: white;
      font-size: 18px;
    }

  }