<div class="main">


    <div class="body">
        <h1 class="h2" style="text-align: center;">Patients</h1>

        <div class="patients">

            <div class="patient">
                <mat-card class="patient-card">
                    <img mat-card-image src="assets/images/grid-patient.png" alt="" height="300px">
                    <mat-card-content>
                        <h2 style="text-align: center;">Rishab Shrestha</h2>
                    </mat-card-content>
                </mat-card>

            </div>
            <div class="patient">
                <mat-card class="patient-card">
                    <img mat-card-image src="assets/images/grid-patient.png" alt="" height="300px">
                    <mat-card-content>
                        <h2 style="text-align: center;">Rishab Shrestha</h2>
                    </mat-card-content>
                </mat-card>

            </div>
            <div class="patient">
                <mat-card class="patient-card">
                    <img mat-card-image src="assets/images/grid-patient.png" alt="" height="300px">
                    <mat-card-content>
                        <h2 style="text-align: center;">Rishab Shrestha</h2>
                    </mat-card-content>
                </mat-card>

            </div>
            <div class="patient">
                <mat-card class="patient-card">
                    <img mat-card-image src="assets/images/grid-patient.png" alt="" height="300px">
                    <mat-card-content>
                        <h2 style="text-align: center;">Rishab Shrestha</h2>
                    </mat-card-content>
                </mat-card>

            </div>
            <div class="patient">
                <mat-card class="patient-card">
                    <img mat-card-image src="assets/images/grid-patient.png" alt="" height="300px">
                    <mat-card-content>
                        <h2 style="text-align: center;">Rishab Shrestha</h2>
                    </mat-card-content>
                </mat-card>

            </div>
            <div class="patient">
                <mat-card class="patient-card">
                    <img mat-card-image src="assets/images/grid-patient.png" alt="" height="300px">
                    <mat-card-content>
                        <h2 style="text-align: center;">Rishab Shrestha</h2>
                    </mat-card-content>
                </mat-card>

            </div>
            <div class="patient">
                <mat-card class="patient-card">
                    <img mat-card-image src="assets/images/grid-patient.png" alt="" height="300px">
                    <mat-card-content>
                        <h2 style="text-align: center;">Rishab Shrestha</h2>
                    </mat-card-content>
                </mat-card>

            </div>
            <div class="patient">
                <mat-card class="patient-card">
                    <img mat-card-image src="assets/images/grid-patient.png" alt="" height="300px">
                    <mat-card-content>
                        <h2 style="text-align: center;">Rishab Shrestha</h2>
                    </mat-card-content>
                </mat-card>

            </div>
            <div class="patient">
                <mat-card class="patient-card">
                    <img mat-card-image src="assets/images/grid-patient.png" alt="" height="300px">
                    <mat-card-content>
                        <h2 style="text-align: center;">Rishab Shrestha</h2>
                    </mat-card-content>
                </mat-card>

            </div>
            <div class="patient">
                <mat-card class="patient-card">
                    <img mat-card-image src="assets/images/grid-patient.png" alt="" height="300px">
                    <mat-card-content>
                        <h2 style="text-align: center;">Rishab Shrestha</h2>
                    </mat-card-content>
                </mat-card>

            </div>
            <div class="patient">
                <mat-card class="patient-card">
                    <img mat-card-image src="assets/images/grid-patient.png" alt="" height="300px">
                    <mat-card-content>
                        <h2 style="text-align: center;">Rishab Shrestha</h2>
                    </mat-card-content>
                </mat-card>

            </div>
            <div class="patient">
                <mat-card class="patient-card">
                    <img mat-card-image src="assets/images/grid-patient.png" alt="" height="300px">
                    <mat-card-content>
                        <h2 style="text-align: center;">Rishab Shrestha</h2>
                    </mat-card-content>
                </mat-card>

            </div>
            <div class="patient">
                <mat-card class="patient-card">
                    <img mat-card-image src="assets/images/grid-patient.png" alt="" height="300px">
                    <mat-card-content>
                        <h2 style="text-align: center;">Rishab Shrestha</h2>
                    </mat-card-content>
                </mat-card>

            </div>
            <div class="patient">
                <mat-card class="patient-card">
                    <img mat-card-image src="assets/images/grid-patient.png" alt="" height="300px">
                    <mat-card-content>
                        <h2 style="text-align: center;">Rishab Shrestha</h2>
                    </mat-card-content>
                </mat-card>

            </div>
            <div class="patient">
                <mat-card class="patient-card">
                    <img mat-card-image src="assets/images/grid-patient.png" alt="" height="300px">
                    <mat-card-content>
                        <h2 style="text-align: center;">Rishab Shrestha</h2>
                    </mat-card-content>
                </mat-card>

            </div>
            <div class="patient">
                <mat-card class="patient-card">
                    <img mat-card-image src="assets/images/grid-patient.png" alt="" height="300px">
                    <mat-card-content>
                        <h2 style="text-align: center;">Rishab Shrestha</h2>
                    </mat-card-content>
                </mat-card>

            </div>

            

        </div>

        <section class="buttons">
            <a routerLink="/patient"><button mat-button> <i class="bi bi-list-ul"></i> </button></a>
            <a routerLink="/grid-patient"><button mat-button style="margin-left: 10px;"> <i class="bi bi-image-fill"></i></button></a>
        </section>
        
    </div>
</div>
