<div class="main">


    <div class="body">


        <div class="cards">


            <div class="left-card">
                <mat-card class="profile-card">
                    <img src="assets/images/doctor.png" width="50%" style="border-radius: 100px;">

                    <section style="margin-top: 30px;display: flex; flex-direction: column;">
                        <h2 style="text-align: center;">
                            Dr. Pratikshya Shrestha
                        </h2>
                        <p >
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris. 
                        </p>
                        <span style="font-size: 40px;">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </span>
                        <button mat-raised-button style="color: white; background-color: #197CF0; margin-top: 30px; height: 50px; font-family: 'Poppins';">
                            Book an Appointment
                        </button>
                    </section>
                </mat-card>
            </div>



            <div class="right-card">
                <section class="logos">
                    <mat-card class="logo">
                        <section class="content">
                            <i class="bi bi-hand-thumbs-up-fill" style="font-size: 80px;"></i>
                            <p style="color: black; font-weight: 600;">Experience</p>
                            <h2>400</h2>
                        </section>
                        
                        <section class="content">
                            <i class="bi bi-award-fill" style="font-size: 80px;"></i>
                            <p style="color: black;font-weight: 600;">Awards</p>
                            <h2>50</h2>
                        </section>

                        <section class="content">
                            <i class="bi bi-people-fill" style="font-size: 80px;"></i>
                            <p style="color: black;font-weight: 600;">Clients</p>
                            <h2>400</h2>
                        </section>

                        <section class="content">
                            <i class="bi bi-wrench" style="font-size: 80px;"></i>
                            <p style="color: black;font-weight: 600;">Surgery</p>
                            <h2>200</h2>
                        </section>
                        
                    </mat-card>
                </section>

                <section class="about">
                    <mat-card>
                        <h2 style="text-align: center;">About Doctor</h2>
                        <p>
                            Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Mauris temp us vestib ulum mauris.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris.Lorem ipsum dolo. Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Mauris temp us vestib ulum mauris.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris.Lorem ipsum dolo. Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Mauris temp us vestib ulum mauris.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris.Lorem ipsum dolo. Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Mauris temp us vestib ulum mauris.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris. Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Mauris temp us vestib ulum mauris.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris.
                        </p>
                        <br>
                        <section style="display: flex;">
                            <h2>Education: </h2>
                            <p style="margin-left: 10px;"> 
                                Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Mauris temp us vestib ulum mauris. Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Mauris temp us vestib ulum mauris.
                            </p>
                        </section>
                    </mat-card>
                </section>
            </div>


        </div>



    </div>



</div>