<div class="main">


    <div class="body">


        <div class="cards">


            <div class="left-card">
                <mat-card class="profile-card">
                    <img src="assets/images/doctor.png" width="50%" style="border-radius: 100px;">

                    <section style="margin-top: 30px;display: flex; flex-direction: column;">
                        <h2 style="text-align: center;">
                            Reshika Shrestha
                        </h2>
                        <h2 style="text-align: center; font-size: 16px;">
                            Joining Date: 2021-10-10
                        </h2>
                        <p style="text-align: center;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris. 
                        </p>

                        <span style="font-size: 40px;">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </span>
                        
                    </section>
                </mat-card>
            </div>



            <div class="right-card">
                <section class="logos">

                    <mat-card class="icon">
                        <section class="content">
                            <i class="bi bi-hand-thumbs-up-fill" style="font-size: 80px;"></i>
                            <p style="color: black; font-weight: 600;">Experience</p>
                            <h2>400</h2>
                        </section>
                        
                        <section class="content">
                            <i class="bi bi-award-fill" style="font-size: 80px;"></i>
                            <p style="color: black;font-weight: 600;">Awards</p>
                            <h2>50</h2>
                        </section>

                        <section class="content">
                            <i class="bi bi-people-fill" style="font-size: 80px;"></i>
                            <p style="color: black;font-weight: 600;">Clients</p>
                            <h2>400</h2>
                        </section>

                        <section class="content">
                            <i class="bi bi-wrench" style="font-size: 80px;"></i>
                            <p style="color: black;font-weight: 600;">Surgery</p>
                            <h2>200</h2>
                        </section>
                        
                    </mat-card>

                    <mat-card class="logo">
                        <h2 style="text-align: center; width: 100%; font-size: 32px;"> Personal Details</h2>
                        <section class="patient-details">
                            <section class="row">
                                <section class="left field">
                                    <h2>Name</h2>
                                    <input type="text" placeholder="Reshika Shrestha">
                                </section>
                                <section class="right field">
                                    <h2>Email</h2>
                                    <input type="text" placeholder="Reshika@gmail.com">
                                </section>
                            </section>
                
                            <section class="row">
                                <section class="left field">
                                    <h2>Address</h2>
                                    <input type="text" placeholder="Lalitpur">
                                </section>
                                <section class="right field">
                                    <h2>Phone Number</h2>
                                    <input type="text" placeholder="123456789">
                                </section>
                            </section>
                            <section class="row">
                                <section class="left field">
                                    <h2>Date of Birth</h2>
                                    <input type="text" placeholder="1995-01-03">
                                </section>
                                <section class="right field">
                                    <h2>Gender</h2>
                                    <mat-checkbox>Male</mat-checkbox>
                                    <mat-checkbox>Female</mat-checkbox>
                                    <mat-checkbox style="margin-right: 0px;">Others</mat-checkbox>
                
                                </section>
                            </section>
                
                            <section class="row">
                                <section class="left field">
                                    <h2>Profile</h2>
                                    <input type="text" placeholder="profile.jpg">
                                </section>
                                <section class="right field">
                                    <h2>Specialty</h2>
                                    <input type="text" placeholder="Cardiology">
                                </section>
                            </section>

                            <section class="row">
                                <section class="left field">
                                    <h2>Bank name</h2>
                                    <input type="text" placeholder="Everest bank">
                                </section>
                                <section class="right field">
                                    <h2>Bank number</h2>
                                    <input type="text" placeholder="123456789">
                                </section>
                            </section>
                
                            <section class="row">
                                <section style="width: 100%;">
                                    <h2>Brief</h2>
                                    <textarea name="" id="" cols="30" rows="10" placeholder="lorem ipsum"></textarea>
                                </section>
                            </section>
                
                            <section>
                                <button mat-raised-button style="background-color: #197CF0; color: white;"> Edit </button>
                                <button mat-raised-button class="right-button"> Delete </button>
                            </section>

                            <section style="margin: 30px 0px 30px 0px;">
                                <mat-checkbox>Mark as paid</mat-checkbox>
                            </section>

                            <section>
                                <button mat-raised-button style="background-color: #197CF0; color: white;"> Ok </button>
                            </section>

                        </section>
                        
                    </mat-card>
                </section>
            </div>


        </div>

    </div>



</div>
