<div class="main">
<div class="body">
    <h1 class="h2" style="text-align: center;">Doctors</h1>
    <section class="container">
        <div class="left-container">
            <mat-card class="doc-card">
                <img src="assets/images/doc.jpg" alt="">
                <section class="details">
                    <h2>Dr. Bharat Gharti</h2>
                    <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Mauris temp us vestib ulum mauris.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                    <a routerLink="/profile" >View profile</a>
                </section>
            </mat-card>
        </div>
        <div class="right-container">
            <mat-card class="doc-card">
                <img src="assets/images/doc.jpg" alt="">
                <section class="details">
                    <h2>Dr. Bharat Gharti</h2>
                    <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Mauris temp us vestib ulum mauris.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                    <a >View profile</a>
                </section>
            </mat-card>
        </div>
    </section>
    <section class="container">
        <div class="left-container">
            <mat-card class="doc-card">
                <img src="assets/images/doc.jpg" alt="">
                <section class="details">
                    <h2>Dr. Bharat Gharti</h2>
                    <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Mauris temp us vestib ulum mauris.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                    <a >View profile</a>
                </section>
            </mat-card>
        </div>
        <div class="right-container">
            <mat-card class="doc-card">
                <img src="assets/images/doc.jpg" alt="">
                <section class="details">
                    <h2>Dr. Bharat Gharti</h2>
                    <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Mauris temp us vestib ulum mauris.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                    <a >View profile</a>
                </section>
            </mat-card>
        </div>
    </section>
    <section class="container">
        <div class="left-container">
            <mat-card class="doc-card">
                <img src="assets/images/doc.jpg" alt="">
                <section class="details">
                    <h2>Dr. Bharat Gharti</h2>
                    <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Mauris temp us vestib ulum mauris.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                    <a >View profile</a>
                </section>
            </mat-card>
        </div>
        <div class="right-container">
            <mat-card class="doc-card">
                <img src="assets/images/doc.jpg" alt="">
                <section class="details">
                    <h2>Dr. Bharat Gharti</h2>
                    <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Mauris temp us vestib ulum mauris.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                    <a >View profile</a>
                </section>
            </mat-card>
        </div>
    </section>
    <section class="container">
        <div class="left-container">
            <mat-card class="doc-card">
                <img src="assets/images/doc.jpg" alt="">
                <section class="details">
                    <h2>Dr. Bharat Gharti</h2>
                    <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Mauris temp us vestib ulum mauris.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                    <a >View profile</a>
                </section>
            </mat-card>
        </div>
        <div class="right-container">
            <mat-card class="doc-card">
                <img src="assets/images/doc.jpg" alt="">
                <section class="details">
                    <h2>Dr. Bharat Gharti</h2>
                    <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Mauris temp us vestib ulum mauris.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                    <a >View profile</a>
                </section>
            </mat-card>
        </div>
    </section>
    <section class="container">
        <div class="left-container">
            <mat-card class="doc-card">
                <img src="assets/images/doc.jpg" alt="">
                <section class="details">
                    <h2>Dr. Bharat Gharti</h2>
                    <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Mauris temp us vestib ulum mauris.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                    <a >View profile</a>
                </section>
            </mat-card>
        </div>
        <div class="right-container">
            <mat-card class="doc-card">
                <img src="assets/images/doc.jpg" alt="">
                <section class="details">
                    <h2>Dr. Bharat Gharti</h2>
                    <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Mauris temp us vestib ulum mauris.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                    <a >View profile</a>
                </section>
            </mat-card>
        </div>
    </section>

    <section class="paginator">
        <mat-paginator [length]="200" [pageSizeOptions]="[10]" aria-label="Select page">
        </mat-paginator>
    </section>
    
</div>

</div>