<div class="main">
    <div class="body">
        <h1 class="h2" style="text-align: center;">Make an Appointment</h1>

        <form action="">
            <section class="line">
                <input type="text" class="form-field left" placeholder="Your name">
                <input type="text" class="form-field" placeholder="Email">
                <input type="text" class="form-field right" placeholder="Phone number">
            </section>
            <section class="line">
                <input type="text" class="form-field left" placeholder="Address">
                <input type="text" class="form-field" placeholder="Appointment Date">
                <select class="form-field select right">
                    <option>10am - 11am</option>
                    <option>10am - 11am</option>
                    <option>10am - 11am</option>
                    <option>10am - 11am</option>
                    <option>10am - 11am</option>
                </select>
            </section>
            <section class="line">
                <select class="form-field select left">
                    <option>Select Department</option>
                    <option>Neurology</option>
                    <option>Dental Care</option>
                    <option>Eye Care</option>
                    <option>ENT</option>
                </select>
                <select class="form-field select">
                    <option>Select doctor</option>
                    <option>Dr. Bharat</option>
                    <option>Dr. Bharat</option>
                    <option>Dr. Bharat</option>
                    <option>Dr. Bharat</option>
                </select>
                <input type="text" class="form-field right" placeholder="Patient ID">
            </section>
            <section class="line">
                <textarea class="left" placeholder="Your Problem" ></textarea>
            </section>

            <button mat-button style="background-color: #197CF0; color: white; margin-top: 50px;" class="text"> Make an Appointment</button>

        </form>
    </div>
</div>
