<div class="main">

    <div class="body">
        <h1 class="h2" style="text-align: center;">Latest News</h1>

        <div>
            <mat-card class="newss-card">
                <section class="image-box">
                    <img src="assets/images/home.jpg" alt="image">
                </section>
                <section class="text-box">
                    <h2>Covid cases rising and falling</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris quis aliquam. Integer accumsan sodales odio, id tempus velit ullamc........ 
                    </p>
                    <a routerLink="/news-details">Read more</a>
                </section>
            </mat-card>

            <mat-card class="newss-card">
                <section class="image-box">
                    <img src="assets/images/home.jpg" alt="image">
                </section>
                <section class="text-box">
                    <h2>Covid cases rising and falling</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris quis aliquam. Integer accumsan sodales odio, id tempus velit ullamc........ 
                    </p>
                    <a >Read more</a>
                </section>
            </mat-card>
            <mat-card class="newss-card">
                <section class="image-box">
                    <img src="assets/images/home.jpg" alt="image">
                </section>
                <section class="text-box">
                    <h2>Covid cases rising and falling</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris quis aliquam. Integer accumsan sodales odio, id tempus velit ullamc........ 
                    </p>
                    <a >Read more</a>
                </section>
            </mat-card>
            <mat-card class="newss-card">
                <section class="image-box">
                    <img src="assets/images/home.jpg" alt="image">
                </section>
                <section class="text-box">
                    <h2>Covid cases rising and falling</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris quis aliquam. Integer accumsan sodales odio, id tempus velit ullamc........ 
                    </p>
                    <a >Read more</a>
                </section>
            </mat-card>
            <mat-card class="newss-card">
                <section class="image-box">
                    <img src="assets/images/home.jpg" alt="image">
                </section>
                <section class="text-box">
                    <h2>Covid cases rising and falling</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris quis aliquam. Integer accumsan sodales odio, id tempus velit ullamc........ 
                    </p>
                    <a >Read more</a>
                </section>
            </mat-card>
            <mat-card class="newss-card">
                <section class="image-box">
                    <img src="assets/images/home.jpg" alt="image">
                </section>
                <section class="text-box">
                    <h2>Covid cases rising and falling</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris quis aliquam. Integer accumsan sodales odio, id tempus velit ullamc........ 
                    </p>
                    <a >Read more</a>
                </section>
            </mat-card>
        </div>


    </div>
</div>
