<div class="main">
    <div class="body">


        <h1 class="h2" style="text-align: center;">Online Billing</h1>

        <mat-card>
            <section class="info">
                <img src="assets/images/logo.png" alt="">
                <section>
                    <h2>Care & Cure Hospital</h2>
                    <h2>Gyaneshwor, Kathmandu</h2>
                    <h2>Phone: 7987983232, 654883435</h2>
                </section>
                <h2 style="font-size: 24px;">Final Bill</h2>
            </section>

            <section class="table">
                <table>
                    <tr>
                        <td>Patient Name: abcd</td>
                        <td>Age: 21</td>
                        <td>Address: xxx</td>
                    </tr>
                    <tr>
                        <td>Bill no: 1234</td>
                        <td>Date of Admission: 2019-10-21</td>
                        <td>Date of Discharge: 2019-10-21</td>

                    </tr>
                </table>
            </section>

            <section class="bill">
                <h1 class="h2" style="text-align: center;">Medical Bill</h1>
                <section class="table">
                    <table class="bill-table">
                        <tr>
                            <td>S.N</td>
                            <td>Particular</td>
                            <td>Qty</td>
                            <td>Rate</td>
                            <td>Total</td>
                        </tr>
                    </table>

                </section>
            </section>

            <section class="input">
                <p>Total: <span><input type="text"></span></p> 
                <p>Tax: <span><input type="text"></span></p> 
                <p>Total Payment: <span><input type="text"></span></p> 
            </section>
            <p>In words: </p> <br> <br>
        </mat-card>

        <section class="buttons">
            <button mat-raised-button style="background-color: #197CF0; color: white;"> Save </button>
            <button mat-raised-button style="margin-left: 20px;"> Print </button>

        </section>

    </div>
</div>
