<div class="main">
    <div class="background" style="background-image: url(assets/images/home.jpg);">
        <h1 class="h2" style="font-size: 40px;">Welcome to Care & Cure Hospital</h1>
        <h2> We are the team of qualified doctors</h2>
    </div>
    <div class="body">

        <div class="home-box">
            <h1 class="h2" style="text-align: center;">About us</h1>
            <section class="about-section">
                <div class="about-text">
                    <section>
                    <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Mauris temp us vestib ulum mauris.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib <br> ulum mauris.Lorem ipsum dolo. Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Mauris temp us vestib ulum mauris.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris.Lorem <br> ipsum dolo. Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Mauris temp us vestib ulum mauris.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris.Lorem ipsum  <br> dolo. Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Mauris temp us vestib ulum mauris.</p>
                    </section>
                    <a routerLink="/about-hospital">
                    <button mat-button style="background-color: #197CF0; color: white; margin-top: 20px;" class="text"> Read More</button>

                    </a>
                </div>
                <div class="about-image">
                    <img src="assets/images/home-about.png" alt="image" width="100%">
                </div>
            </section>
        </div>

        <div class="home-box">
            <h1 class="h2" style="text-align: center;">Departments</h1>
            <h2 style="text-align: center;"> Different departments of our hospital</h2>
            <section class="about-section">
                <div class="department-text" style="margin-left:0px; display: flex;">
                    <section style="margin: 0px;">
                    <h2>Cardiology</h2>
                    <h2>Neurology</h2>
                    <h2>Dental Care</h2>
                    <h2> Radiology </h2>
                    <h2>Eye Care</h2>
                    <a routerLink="/department"><p>See all</p></a>
                    </section>
                    <mat-divider vertical style="height: 400px;"></mat-divider>
                </div>
                
                <div class="department-text">
                    <h2>Cardiology</h2>
                    <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Mauris temp us vestib ulum mauris.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris.Lorem ipsum dolo. Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Mauris temp us vestib ulum mauris.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris.Lorem ipsum dolo. Lorem ipsum dolor sit amet, con sectetur adipiscing elit.</p>
                    <a routerLink="/dep-details"><p>Read more</p></a>
                </div>
                <div class="department-text">
                    <img src="assets/images/home-department.png" alt="image" width="100%">
                </div>
            </section>
        </div>

        <div class="home-box">
            <h1 class="h2" style="text-align: center;">What people say?</h1>
            <section class="about-section">
                <div class="card left">
                    <mat-card class="people">
                        <img mat-card-md-image src="assets/images/pratik.png" alt="image" width="150px">
                        <section style="margin-left: 10px;">
                            <h2> Pratik Shrestha</h2>
                            <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Mauris temp us vestib ulum mauris.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris.Lorem ipsum dolo. Lorem ipsum dolor sit amet, con sectetur adipiscing elit.</p>
                        </section>
                    </mat-card>
                </div>
                <div class="card right">
                    <mat-card class="people">
                        <img mat-card-md-image src="assets/images/pratika.png" alt="image" width="150px">
                        <section style="margin-left: 10px;">
                            <h2> Pratik Shrestha</h2>
                            <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Mauris temp us vestib ulum mauris.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris.Lorem ipsum dolo. Lorem ipsum dolor sit amet, con sectetur adipiscing elit.</p>
                        </section>
                    </mat-card>
                </div>
            </section>
        </div>

        <div class="home-box">
            <h1 class="h2" style="text-align: center;">Gallery</h1>
            <div class="gallery">
                <div class="image-box">
                    <img src="assets/images/grid1.png" alt="image" class="grid-image">
                </div>
                <div class="image-box">
                    <img src="assets/images/grid2.png" alt="image" class="grid-image">
                </div>
                <div class="image-box">
                    <img src="assets/images/grid3.png" alt="image" class="grid-image">
                </div>
                <div class="image-box">
                    <img src="assets/images/grid4.png" alt="image" class="grid-image">
                </div>
                <div class="image-box">
                    <img src="assets/images/grid5.png" alt="image" class="grid-image">
                </div>
                <div class="image-box">
                    <img src="assets/images/grid6.png" alt="image" class="grid-image">
                </div>
            </div>
        </div>

        <div class="home-box">
            <h1 class="h2" style="text-align: center;">Latest news and events</h1>

            <section class="about-section">
                <div class="news-card left">
                    <mat-card>
                        <img mat-card-image src="assets/images/news.png" alt="image">
                        <mat-card-content>
                            <h2 class="text" style="font-weight: 600;">Covid Cased rising and falling</h2>
                            <p>Read more</p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="news-card">
                    <mat-card>
                        <img mat-card-image src="assets/images/news.png" alt="image">
                        <mat-card-content>
                            <h2 class="text" style="font-weight: 600;">Covid Cased rising and falling</h2>
                            <p>Read more</p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="news-card right">
                    <mat-card>
                        <img mat-card-image src="assets/images/news.png" alt="image">
                        <mat-card-content>
                            <h2 class="text" style="font-weight: 600;">Covid Cased rising and falling</h2>
                            <p>Read more</p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </section>
        </div>

    </div>
</div>
