/* You can add global styles to this file, and also import other style files */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
    font-family: Poppins;
    src: url(assets/Poppins/Poppins-Regular.ttf);
}


p{
    font-family: 'Poppins';
    font-size: 18px;
    line-height: 2.0;
}


ul{
    font-family: 'Poppins';
    font-size: 18px;
}

a{
    cursor: pointer;
    text-decoration: none;
    color: black;
}
a:hover{
    color:  #197CF0;
}
a:active{
    color:  #197CF0; 
}


