
<div class="main">
    <div class="small-nav">
        <div class="small-nav-content">
            <section style="display: flex; float: left; padding-top: 8px;">
                <p><i class="bi bi-house-door-fill"></i>Gyaneshowr, Kathmandu</p>
                <p> <i class="bi bi-telephone-fill"></i>98178952554</p>
                <p><i class="bi bi-envelope-fill"></i>asdf@gmail.com</p>
            </section>
            <section class="searchbar">
                <input type="text"placeholder="Search...">
                <button mat-button style="margin-left: -60px; color:black;"><i class="bi bi-search"></i></button>
            </section>
        </div>
        
    </div>
    <div class="navbar">
        <section class="logo">
            <img src="assets/images/logo.png" alt="logo" height="100%">
        </section>
        <section class="links">
            <ul>
                <li> <a routerLink="/patient-report">Patients Report</a> </li>
                <li> <a routerLink="/upload-report">Upload Report</a> </li>
                <li> <a routerLink="/staff-login">Logout</a> </li>

            </ul>
            <button mat-button style="height: 40px;margin-top: 20px;" class="resp-button"><mat-icon >menu</mat-icon></button>
        </section>
            

    </div>
</div>

